// Variables
$cormorant-garamond: 'Cormorant Garamond', sans-serif;
$proza-libre: 'Proza Libre', sans-serif;

$light: #FFFFFF;
$dark: #000000;
$charcoal-gray: #2a2927;
$light-yellow: #fffd8e;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

// General Configs
body {
    background-color: $light;
    color: $dark;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row {
    padding: rem(20) 0;
}