// Variables
$cormorant-garamond: 'Cormorant Garamond', sans-serif;
$proza-libre: 'Proza Libre', sans-serif;

$light: #FFFFFF;
$dark: #000000;
$charcoal-gray: #2a2927;
$light-yellow: #fffd8e;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

// General Configs
body {
    background-color: $light;
    color: $dark;
}

.block {
    padding: 60px 0;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}