html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  padding: 1.25rem 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.block.header {
  font-family: "Proza Libre", sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
}
.block.header .top {
  border-bottom: 1px solid rgba(42, 41, 39, 0.4);
}
.block.header .top .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block.header .top .logo {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a2927;
}
.block.header .top .date {
  text-transform: capitalize;
  font-size: 0.875rem;
}
.block.header .bottom {
  border-bottom: 1px solid rgba(42, 41, 39, 0.4);
}
.block.header .bottom .row {
  display: flex;
  justify-content: space-between;
}
.block.header .bottom nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2.5;
}
.block.header .bottom .menu {
  display: flex;
  gap: 2.375rem;
}
.block.header .bottom .menu-item a {
  text-transform: capitalize;
  text-decoration: none;
  color: #2a2927;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms ease-in-out;
}
.block.header .bottom .menu-item a:hover {
  border-bottom: 2px solid #2a2927;
}
.block.header .bottom .search {
  cursor: pointer;
}
.block.header .bottom .search i {
  font-size: 1.375rem;
}
.block.header .bottom .social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.375rem;
}
.block.header .bottom .social .label {
  text-transform: capitalize;
}
.block.header .bottom .social .link {
  text-decoration: none;
  color: #2a2927;
  font-size: 1.25rem;
}

.block.hero {
  font-family: "Proza Libre", sans-serif;
  position: relative;
  height: 100vh;
  min-height: 950px;
}
.block.hero .hero-slider.one {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.block.hero .hero-slider.one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.block.hero .hero-slider.one figure {
  height: 100%;
}
.block.hero .hero-slider.one figure img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
.block.hero .hero-slider.two {
  text-align: center;
  padding: 15.625rem 0 6.25rem;
}
.block.hero .hero-slider.two .slide {
  font-family: "Cormorant Garamond", sans-serif;
}
.block.hero .hero-slider.two .slide .indicator {
  display: block;
  margin-bottom: 3.75rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.block.hero .hero-slider.two .slide .slide-title {
  margin-bottom: 3.75rem;
  font-size: 5.3125rem;
  font-weight: 700;
}
.block.hero .hero-slider.two .slide .focused {
  position: relative;
}
.block.hero .hero-slider.two .slide .focused::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2a2927;
}
.block.hero .hero-slider.two .slide .focused.lem {
  color: #fffd8e;
}
.block.hero .hero-slider.two .slide .focused.lem::after {
  background-color: #fffd8e;
}
.block.hero .hero-slider.two .slide .slide-description {
  color: #FFFFFF;
}
.block.hero .hero-slider.two .slide .slide-description span {
  display: block;
}
.block.hero .hero-slider.two .slide .small-title {
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 0.875rem;
}
.block.hero .hero-slider.two .slide .small-title q {
  color: #fffd8e;
  font-style: normal;
}
.block.hero .hero-slider.two .slide .e-date {
  font-size: 0.9375rem;
  font-family: "Proza Libre", sans-serif;
  text-transform: uppercase;
}
.block.hero .anchor-down {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #fffd8e;
  font-size: 2.25rem;
}
.block.hero .anchor-down svg {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
